@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 992px) {
    
}

@media only screen and (max-width: 768px) {
    header {
        font-size: 0.8rem;
    }
    .home {
        font-size: 0.8rem;
    }
    .user-form {
        font-size: 0.85rem;
    }
    .color-modal {
        font-size: 0.8rem;
    }
    .filter-section {
        font-size: 0.8rem;
    }
    .chart-row-2 .eChart img,
    .chart-row-1 img {
        height: auto;
    }

}

@media only screen and (max-width: 576px) {
    
}

@media only screen and (max-width: 420px) {
    section {
        padding: 5vw;
    }
    .sidebar {
        font-size: 0.8rem;
        padding-top: 59px;
    }
    .btn-list {
        justify-content: flex-start;
    }
}